@{
    ViewData["Title"] = "Home Page";

}

@model OpenWeatherAPI.Query

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>

        @using (Html.BeginForm(FormMethod.Post))
        {
            @Html.TextBox("city", Model.Name)
            <input type="submit" value="Check the weather!">
        }
        <label>Latitude:</label> <label>@Model.Coord.Latitude</label>
        <label>Longitude:</label> <label>@Model.Coord.Longitude</label>
        <label>Cidade:</label> <label>@Model.Name</label>
        <label>Temperatura (°C):</label> <label>@Model.Main.Temperature.CelsiusCurrent</label>
        <label>Máxima (°C):</label> <label>@Model.Main.Temperature.CelsiusMaximum</label>
        <label>Mínima (°C):</label> <label>@Model.Main.Temperature.CelsiusMinimum</label>
        


    </div>
